#
# ~/.gitconfig
#

# https://github.com/GitAlias/gitalias
[alias]
	aliases = config --get-regexp alias # list aliases
	a = add
	br = branch
	branches = branch --all
	c = commit
	cm = commit -m
	co = checkout
	d = diff
	ds = diff --staged
	p = push
	pu = pull
	r = restore
	rs = restore --staged
	st = status
	sw = switch
	rb = for-each-ref --sort=-committerdate --count=10 --format='%(refname:short)' refs/heads/
  lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
	tags = tag -l
	alias-master-as-main = !git symbolic-ref refs/heads/main refs/heads/master && git symbolic-ref refs/remotes/origin/main refs/remotes/origin/master && git switch main
  clone-with-submodules = '!git clone --recurse-submodules'

[core]
	excludesfile = ~/.gitignore_global
  #attributesfile = ~/.gitattributes

[color]
	ui = true

[init]
	defaultBranch = main
	templateDir = ~/.config/git/templates

[help]
  autocorrect = immediate

[commit]
  template = ~/.gitmessage

[push]
  default = current
	autoSetupRemote = true
  followTags = true

[includeIf "gitdir:~/code/github/"]
	path = ~/.config/git/accounts/github

[includeIf "gitdir:~/code/azure/"]
	path = ~/.config/git/accounts/azure
