k9s/.config/k9s/config.yaml
git/.config/git/accounts/*
ssh/.ssh/keys
tmux/.tmux/plugins/*
*.lock
bin/.local/bin
repositories.yaml
gh/.config/gh/hosts.yml
kube/.kube/cache
kube/.kube/config*
kube/.kube/kubectx
*.db
devbox/.local/share
!devbox/.local/share/devbox/global/*
# migrate to another repository
opencode/*
claude/*
